p {
    border: 2px solid red;
    font-size: 28px;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

input[type="text"]{
    border-radius: 30px;
    border-color: brown;
    box-shadow: red;
}

input[type="submit"]{
    border-radius: 30px;
    padding: 10px;
    color: red;
    background-color: none;
    background: green;
}